
*{
    margin: 0px;
    padding: 0px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 105.7;
}

.head{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: white;
}

nav{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.div-1{
    display: flex;
    gap: 30px;
}

.saleforce-logo{
    height: 50px;
    float: left;
}

.span-1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-2{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
}

#search{
    height: 17px;
    margin-top: 10px;
}

#earth{
    height: 17px;
    margin-top: 10px;
}

.login{
    margin-top: 10px;
    display: flex;
}

#log{
    height: 20px;
}

.tryfree{
    height: 20px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
}

.span-1:hover, #contactus:hover{
    color: rgb(31, 126, 222);
}

.tryfree:hover{
    background-color: black;
}

#timepass{
    width: 100%;
    height: 140px;
    background-color: rgb(11, 6, 114);
}

.bot{
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #0176d3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 20px;
    color: white;
    border-radius: 50px;
}

#bot-img{
    border-radius: 50%;
    float: left;
}

#bot-chat{
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
}

.div-3{
    /* background-image: url(./php-marquee-starter-lg-bg.webp);*/
    width: 100%;
    margin-bottom: 100px;
}

.div-3-content{
    margin-left: 120px;
    margin-right: 100px;
    margin-top: 70px;
    display: flex;
    gap: 120px;
    justify-content: space-between;
    /* margin-bottom: px; */
}

.content{
    width: 800px;
}

h1{
    font-family: "Oswald", sans-serif;
    color: #070b52;
    font-size: 60px;
    font-weight: 700;
}

iframe{
    border-radius: 20px;
}

p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.sftwd{
    margin-top: 50px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.sft{
    background-color: #0176d3;
    padding: 15px 25px;
    color: white;
    position: static;
    top: 15px;
    border-radius: 3px;
}

.sft:hover{
    background-color: #0e0b56;
}

.wd{
    color: #0176d3;
    position: static;
    top: 15px;
    padding: 15px 25px;
    border: 2px solid #0176d3;
    border-radius: 5px;
}

#wd:hover{
    color: black;
    border-color: black;
    background-color: aliceblue;
}

h2{
    clear: both;
    font-family: "Oswald", sans-serif;
    color: #070b52;
    font-size: 50px;
    font-weight: 550;
    text-align: center;
    margin-bottom: 70px
}

.container{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.box{
    /* background-color: black; */
    width: 300px;
    height: 430px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px;
    
    /* background-color: aliceblue; */
}

.box-img{
    width: 300px;
    border-radius: 20px;
}

.container-content{
    margin-top: 50px;
    margin-left: 30px;
    position: static;

}

.container-content h3{
    font-family: "Oswald", sans-serif;
    color: #131a98;
    font-weight: 700;
}

.container-content p{
    font-size: 17px;
    font-weight: 50;
    margin-top: 20px;
    margin-bottom: 0px;
}

.container-content a{
    position: relative;
    top: 70px;
    color: #021b30;
}

.mountain{
    background-image: url(./div-4.webp);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;

}

#vaop{
    text-decoration: none;
    color: #0176d3;
    padding: 12px 25px;
    border: 2px solid #0176d3;
    border-radius: 5px;
}

.div-5{
    margin-right: 220px;
    margin-left: 250px;
    margin-bottom: 100px;
}

.div-5 h2{
    margin-bottom: 20px;
}

.div-5 p{
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    margin-bottom: 50px;
}

.sftwd-1{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.container .box-1{
    width: 400px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px;
}

.box-img-2{
    width: 120px;
    padding: 0px 140px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.box-1-content{
    padding-left: 20px;
    padding-right: 30px
}

.module{
    background-color: #cce1f1;
    padding: 7px 15px;
    border-radius: 20px;
}

.box-1-content  h3{
    margin-top: 20px;
    font-family: "Oswald", sans-serif;
    color: #131a98;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

.box-1-content p{
    font-size: 17px;
    font-weight: 50;
    margin-top: 20px;
    margin-bottom: 0px;
}

.box-1-content a{
    position: relative;
    top: 70px;
    color: #021b30;
}

.m-2{
    text-align: center;
}

#lff{
    text-decoration: none;
    color: #0176d3;
    padding: 12px 25px;
    border: 2px solid #0176d3;
    border-radius: 5px;
}

#h-6{
    font-size: 40px;
    margin-left: 350px;
    margin-top: 120px;
    margin-bottom: 100px;
    width: 800px;
}

.div-6 {
    margin-left: 120px;
    margin-right: 120px;
}

.div-6 a{
    text-decoration: none;
    color: #0176d3;
    padding: 12px 25px;
    border: 2px solid #0176d3;
    border-radius: 5px;
}